.red {
  background: firebrick;
}

.blue {
  background: slateblue;
}

.green {
  background: forestgreen;
}

.yellow {
  background: LemonChiffon;
}

.violet {
  background: orchid;
}

.brown {
  background: saddlebrown;
}

.white {
  color: white;
}
