@use "vars" as v;
@use "bcolors" as b;
@use "nav";
@import "reset";

// $spacer: 2rem;
// $grid-gutter-width: 4rem;
p {
  color: v.$dark-grayish-blue;
  font-size: 0.9375rem;
}

h1.headline {
  color: v.$dark-blue;
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-weight: 800;
}

.card-holder {
  padding: 2rem 1rem;
  background-color: v.$dark-blue;
  h3 {
    font-size: 2.5rem;
    color: v.$background;
  }

  .card-mini {
    padding: 1rem;
    border-bottom: 1px solid v.$dark-grayish-blue;
    h5 {
      font-size: 1.5rem;
      color: v.$background;
    }
    p {
      color: v.$background;
      font-size: 0.9375rem;
    }
  }
}
